@charset "UTF-8";
* {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0px;
    padding: 0px;
}

.content{
    margin: 1% auto;
}

nav {
    margin: 0 auto;

}


.navbar-nav > li {
    margin-right: 12px;
}

.navbar-nav > li > a {
    padding: 15px 15px;
}

.navbar-nav > li > button {
    margin: 9px  0;
}

.navbar-light .navbar-logo {
    font-size: 30px;
    font-weight: 600;
}


.head{
    margin: auto;
}

.content {
    display: block;
    position: relative;
    width: 100%;
    min-height: 650px
}

.modal-body img {
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin: 0  20px auto auto;

}

.modal-body h3 {
    display: block;
    margin: 0 auto;
}

.modal-body {
    text-align: center;
}

.modal-footer button {
    margin: 0 auto;
}

b{
    color: rgb(52, 152, 219);
    font-weight: normal;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: white;
}

.navbar-light .navbar-toggler:focus {
    border-color: white;
    outline: none;
}