@charset "UTF-8";
.searchbox {
    padding:0;
    margin: 20px auto;
}
.searchbox div{
    text-align: center;

}
.menuname{
    margin: auto;
    padding:0;
    text-align: center;
}

.btn-box{
    margin: auto;
    text-align: right;
}

.menu{
    text-align: center;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid white;
}
.text{
    box-sizing: border-box;
    text-align: center;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 50px;
    line-height: 50px;
}
#text1{
    border-right: 1px dotted rgb(190, 189, 189);
    border-bottom: 1px dotted rgb(190, 189, 189);
}
#text2{
    border-right: 1px dotted rgb(190, 189, 189);
    border-bottom: 1px dotted rgb(190, 189, 189);
}
#text3{
    border-right: 1px dotted rgb(190, 189, 189);
}
#text4{
    border-right: 1px dotted rgb(190, 189, 189);
}

.menuborder{
    border-radius: 5px 5px 0 0;
    padding: 0;
}
h2{
    font-weight: bold;
}

.textlist{
    border-bottom: 1px solid rgb(158, 156, 156);
}
.textlist:hover{
    background: rgb(190, 189, 189);
    opacity: 0.9;
}
.box_ul{
    text-align: center;
    margin: auto;
}
.box_li{
    list-style-type:none
}
.paging{
    display: inline-block;
}
.paging a{
    border-radius: 30%;
    color: black;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    transition: background-color .3s;
    margin: 0;
}
.paging a.active{
    background-color: rgb(52, 152, 219);
    color: white;
    border: 1px solid rgb(52, 152, 219);
}
.paging a:hover:not(.active) {background-color: #ddd;}

@media (min-width: 767px) {

    #text1{
        border: 0;
    }
    #text2{
        border: 0;
    }
    #text3{
        border: 0;
    }
    #text4{
        border: 0;
    }
    .searchbox div{
        padding:10px;
    }
}